<!-- Start All -->
<div id="all">
  <!-- Subheader image -->
  <div class="row" id="firstsubTitle">
    <div class="col titleSkinLeft">
      <h1 style="padding-left: 10%;">{{title}}</h1>
    </div>
    <div class="col titleSkinRight">
      <!-- <div class="text-right" id="titleh2"> -->
      <!-- <img class="mw-100" style="background-repeat: no-repeat; height: auto; width: auto;"
            src="../../assets/images/logohombre.jpg" alt="Foto"> -->
      <h2 class="" >Wear Nature on your skin</h2>
       <!-- </div> -->
    </div>


  </div>

  <!-- Mission -->
  <div id="rowTitle" class="row text-center">
    <div class="col">
      <h3><i><u>MISIÓN</u></i></h3>
    </div>
  </div>
  <div id="firstText" class="row w-100" style="margin-right: 0px !important;margin-left: 0px !important;">
    <div class="col">
      <div class="row container justify-content-around littleP">
        <div class="col-7">
          <p style="text-align: justify;">
            La misión de Eco[Tòno] es demostrar al sector de la moda que haciendo las cosas bien, sin
            utilizar productos químicos nocivos, se pueden obtener los mismos resultados e incluso
            <strong>mejorarlos</strong>. Desde Eco[Tòno] tienen la total convicción de crear moda sostenible,
            fabricando prendas para personas que compartan la inquietud por la moda “eco friendly”.
          </p>
        </div>

        <div class="col">

        </div>
      </div>

    </div>
  </div>

  <!-- Vission -->
  <div id="rowTitle" class="row text-center">
    <div class="col">
      <h3><i><u>VISIÓN</u></i></h3>
    </div>
  </div>
  <div class="row" id="factsDesc">
    <div class="col"></div>
    <div class="col-5 littleP">
      <p style="text-align: right; color: #FFF;">
        Eco[Tòno] busca ser líder del sector de la <strong>moda sostenible</strong>. Marcando un antes y
        después en la manera de entender la moda.
      </p>
    </div>
  </div>


<!-- Facts -->
<div id="rowTitle" class="row text-center">
  <div class="col">
    <h3><i><u>VALUES</u></i></h3>
  </div>
</div>

<div class="row justify-content-evenly">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div></div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
  <!-- end All -->
</div>
