<!-- First nav -->
<nav class="navbar justify-content-center navbar-expand-lg navbar-light">
  <div class="row container-fluid">
    <div class="col">
      <a class="navbar-brand" href="#">ECO[Tòno]</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!-- LOGO -->
    <div class="col nav justify-content-center">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <img src="../assets/images/logo.png"  width="80px" height="80px" alt="">
          <span class=""></span>
        </li>
      </ul>
    </div>

    <div  class="justify-content-right col" id="navbarSupportedContent">
      <div id="row-right" class="row justify-content">
        <div  class="align-bottom col"><a href="#"><img src="../assets/images/lupa.png" href="#" width="20px" height="20px"  alt=""></a></div>
        <div  class="align-bottom col"><a href="#"><img src="../assets/images/Sample_User_Icon.png" width="20px" height="20px"  alt=""></a></div>
        <div  class="align-bottom col"><a href="#"><img src="../assets/images/shopping_cart.png" width="20px" height="20px"  alt=""></a></div>
      </div>
    </div>
  </div>

</nav>
<br>
<hr/>
<nav class="navbar justify-content-center navbar-expand-lg navbar-light">
  <div class="row justify-content-center">
    <div class="col">
      <a class="navbar-brand" href="catalogue">CATALOGUE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="col">
      <a class="navbar-brand" href="company">COMPANY VALUES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="col">
      <a class="navbar-brand" href="creation">CREATION PROCCESS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="col">
      <a class="navbar-brand" href="enviromental">ENVIRONMENTAL CARE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

</nav>

<!-- <app-root></app-root> -->
<router-outlet></router-outlet>

<!-- Imagen cabecera-->
<!-- <div><img src="../assets/images/bannertest.jpg" alt="img"></div> -->
